USE [master]
GO
/****** Object:  Database [MenMax]    Script Date: 13/7/2025 6:07:27 PM ******/
CREATE DATABASE [MenMax]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MenMax', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MenMax.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MenMax_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MenMax_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MenMax].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MenMax]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 13/7/2025 6:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[count] [int] NOT NULL,
	[product_id] [int] NULL,
	[user_id] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 13/7/2025 6:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](1111) NULL,
	[category_Image] [nvarchar](1111) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 13/7/2025 6:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](1111) NULL,
	[booking_date] [date] NULL,
	[country] [nvarchar](1111) NULL,
	[email] [nvarchar](1111) NULL,
	[fullname] [nvarchar](1111) NULL,
	[note] [nvarchar](1111) NULL,
	[payment_method] [nvarchar](1111) NULL,
	[phone] [nvarchar](1111) NULL,
	[status] [nvarchar](1111) NULL,
	[total] [int] NULL,
	[user_id] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 13/7/2025 6:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[count] [int] NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 13/7/2025 6:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [date] NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [int] NULL,
	[is_selling] [int] NULL,
	[price] [int] NULL,
	[product_name] [nvarchar](1111) NULL,
	[quantity] [int] NULL,
	[sold] [int] NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_image]    Script Date: 13/7/2025 6:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url_image] [nvarchar](1111) NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 13/7/2025 6:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [nvarchar](255) NOT NULL,
	[avatar] [nvarchar](1111) NULL,
	[email] [nvarchar](1111) NULL,
	[login_type] [nvarchar](1111) NULL,
	[password] [nvarchar](1111) NULL,
	[phone_number] [nvarchar](1111) NULL,
	[role] [nvarchar](1111) NULL,
	[user_name] [nvarchar](1111) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [count], [product_id], [user_id]) VALUES (1, 5, 8, N'user7')
INSERT [dbo].[cart] ([id], [count], [product_id], [user_id]) VALUES (2, 4, 1, N'user3')
INSERT [dbo].[cart] ([id], [count], [product_id], [user_id]) VALUES (3, 2, 17, N'user1')
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [category_name], [category_Image]) VALUES (1, N'Tăng Cường Sinh Lực', N'https://category.example.com/sinh_luc.png')
INSERT [dbo].[category] ([id], [category_name], [category_Image]) VALUES (2, N'Hỗ Trợ Testosteron', N'https://category.example.com/testo.png')
INSERT [dbo].[category] ([id], [category_name], [category_Image]) VALUES (3, N'Bổ Thận Tráng Dương', N'https://category.example.com/bo_than.png')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [address], [booking_date], [country], [email], [fullname], [note], [payment_method], [phone], [status], [total], [user_id]) VALUES (1, N'Số 1, Ngõ 123, Đường Láng, Đống Đa, Hà Nội', CAST(N'2024-11-05' AS Date), N'Vietnam', N'nguyenvanan@gmail.com', N'Nguyễn Văn An', N'Giao hàng kín đáo', N'paypal', N'0775116606', N'completed', 605654, N'user7')
INSERT [dbo].[order] ([id], [address], [booking_date], [country], [email], [fullname], [note], [payment_method], [phone], [status], [total], [user_id]) VALUES (2, N'Số 2, Phố Hàng Bài, Hoàn Kiếm, Hà Nội', CAST(N'2024-04-25' AS Date), N'Vietnam', N'tranhongduc@yahoo.com', N'Trần Hồng Đức', N'Không gọi điện trước khi giao', N'paypal', N'0519176489', N'completed', 589928, N'user16')
INSERT [dbo].[order] ([id], [address], [booking_date], [country], [email], [fullname], [note], [payment_method], [phone], [status], [total], [user_id]) VALUES (3, N'Số 3, Đường Kim Mã, Ba Đình, Hà Nội', CAST(N'2024-12-03' AS Date), N'Vietnam', N'tranquocgia@hotmail.com', N'Trần Quốc Gia', N'Để ở cổng, không bấm chuông', N'cash', N'0447941797', N'completed', 580092, N'user7')
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_item] ON 

INSERT [dbo].[order_item] ([id], [count], [order_id], [product_id]) VALUES (1, 2, 20, 8)
INSERT [dbo].[order_item] ([id], [count], [order_id], [product_id]) VALUES (2, 5, 13, 10)
INSERT [dbo].[order_item] ([id], [count], [order_id], [product_id]) VALUES (3, 4, 14, 19)
SET IDENTITY_INSERT [dbo].[order_item] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [created_at], [description], [is_active], [is_selling], [price], [product_name], [quantity], [sold], [category_id]) VALUES (1, CAST(N'2024-05-14' AS Date), N'Viên uống hỗ trợ cương cứng và tăng ham muốn hiệu quả.', 1, 1, 735000, N'King Power Max - Tăng Cường Sinh Lực', 70, 7, 9)
INSERT [dbo].[product] ([id], [created_at], [description], [is_active], [is_selling], [price], [product_name], [quantity], [sold], [category_id]) VALUES (2, CAST(N'2024-04-17' AS Date), N'Công thức đặc biệt hỗ trợ sản xuất Testosteron tự nhiên.', 1, 1, 376890, N'TestoBoost - Hỗ Trợ Testosteron', 45, 50, 2)
INSERT [dbo].[product] ([id], [created_at], [description], [is_active], [is_selling], [price], [product_name], [quantity], [sold], [category_id]) VALUES (3, CAST(N'2025-08-10' AS Date), N'Thảo dược quý hiếm giúp bổ thận, tráng dương, tăng cường sức khỏe.', 1, 1, 518134, N'Bổ Thận Hoàn - Thảo Dược Nam', 48, 0, 3)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_image] ON 

INSERT [dbo].[product_image] ([id], [url_image], [product_id]) VALUES (1, N'https://productimage.example.com/power_max_1.png', 1)
INSERT [dbo].[product_image] ([id], [url_image], [product_id]) VALUES (2, N'https://productimage.example.com/testoboost_1.png', 2)
INSERT [dbo].[product_image] ([id], [url_image], [product_id]) VALUES (3, N'https://productimage.example.com/bothanhoan_1.png', 3)
SET IDENTITY_INSERT [dbo].[product_image] OFF
GO
INSERT [dbo].[user] ([id], [avatar], [email], [login_type], [password], [phone_number], [role], [user_name]) VALUES (N'user1', N'https://avatar.example.com/men_1.png', N'nguyenvanan@gmail.com', N'email', N'hashed_password', N'0461088521', N'user', N'AnNguyen')
INSERT [dbo].[user] ([id], [avatar], [email], [login_type], [password], [phone_number], [role], [user_name]) VALUES (N'user10', N'https://avatar.example.com/men_10.png', N'nguyenhoangminh@example.com', N'email', N'hashed_password', N'0415528350', N'user', N'MinhNguyen')
INSERT [dbo].[user] ([id], [avatar], [email], [login_type], [password], [phone_number], [role], [user_name]) VALUES (N'user11', N'https://avatar.example.com/men_11.png', N'tranvannguyen@example.com', N'facebook', N'hashed_password', N'0937014736', N'user', N'NguyenTran')
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK3d704slv66tw6x5hmbm6p2x3u] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK3d704slv66tw6x5hmbm6p2x3u]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FKl70asp4l4w0jmbm1tqyofho4o] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FKl70asp4l4w0jmbm1tqyofho4o]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FKcpl0mjoeqhxvgeeeq5piwpd3i] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FKcpl0mjoeqhxvgeeeq5piwpd3i]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK551losx9j75ss5d6bfsqvijna] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK551losx9j75ss5d6bfsqvijna]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FKs234mi6jususbx4b37k44cipy] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FKs234mi6jususbx4b37k44cipy]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK1mtsbur82frn64de7balymq9s] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK1mtsbur82frn64de7balymq9s]
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD  CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_image] CHECK CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk]
GO
USE [master]
GO
